
.border{
	border-top:none;
	border-top-color:black;
	border-left:none;
	border-right:none;
	border-bottom:solid;
	border-bottom-color:red;
	border-width:1px;
}


.bgcolor{
    background:url('img/taxi.png');
}

.size{
    color: yellow;
}